*{
    margin: 0;
    padding: 0;
}

nav ul li{
    list-style: none;
}
header{
    top: 0%;
    position: fixed;
    background-color: black;
    height: 70px;
    width: 100%;
    background: linear-gradient(to bottom right, rgba(0, 0, 0, 1) , rgba(0, 0, 0, 0.747));
}

.logo{
    width: 90px;
    height: 50px;
    float: left;
    padding: 10px 8px 10px 8px;
    margin-left: 20px;
    border-radius: 2px;
    cursor: pointer;
}

.logo_name{
    float: left;
    color: rgb(255, 255, 255);
    padding-top: 0.6%;
    padding-left: 12px;
    font-family: 'Dongle', sans-serif;
    font-size: 40px;
    cursor: pointer;
    text-decoration: none;
}

.logo_name:hover{
    color: rgb(151, 13, 151);
    transition: 0.6s ease;
}

.nav_links{
        float: right;
}
.nav_links a{
    text-decoration: none;
    color: white;
    margin: 0px 8px;
    font-family: 'Dongle', sans-serif;
    font-size: 28px;
}

.nav_links,ul,li,a{
    display: inline-block;
}


.main_nav_links:hover{
    color: rgb(151, 13, 151);
    transition: 0.6s ease;
    text-decoration: 2px underline solid rgb(151, 13, 151);
}

.loader{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: white url('https://cdn.dribbble.com/users/108183/screenshots/2301400/media/f31dc8914e868107b8356de2f2cdb55f.gif') no-repeat center;
    z-index: 99999;
    
}

.blog{
    width: 95%;
    height: 100%;
    margin: 20px auto 10px;
    
}

.header1{     
    padding-top: 6%;
    font-family: 'Dongle', sans-serif;
    font-size: 32px;
}

.para{
    padding: 12px 20px 20px 15px;
    font-family: 'Dongle', sans-serif;
    font-size: 28px;
}

.hr{
    background:purple;
}

.img1{
    
    width: 55%; 
    height: 35%; 
    margin: 18px auto;
    display: block;
}

.img1:hover{
    transition: 0.5s ease;
    cursor: pointer;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.7);
}


.footer-col ul li a{
    font-family: 'Dongle', sans-serif;
    font-size: 24px;
    text-decoration: none;
    color: rgba(130, 18, 241, 0.562);
    list-style: none;
}

.footer-col ul li a:hover{
    font-size: 25px;
    color: rgba(127, 7, 247, 0.801);
}

.footer-col h4{
    font-family: 'Dongle', sans-serif;
    font-size: 26px;
    color: white;
}

.footer-col h4:hover{
    font-family: 'Dongle', sans-serif;
    font-size: 26px;
    color: rgba(255, 255, 255, 0.808);
    cursor: pointer;
}

.container{
    max-width: 100%;
    padding: 30px 50px;
}

.footer{
    background-color: rgba(0, 0, 0, 0.986);
    box-sizing: border-box; 
    padding: 14px 20px ;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.footer-col{
    width: 20%;
    padding: 4px 10px;
}

.footer-col:first-child{
    margin-left: 40px;
}

.img{
    margin: 0px auto;
}

.next_page{
    text-align: center;
}

.next_page,a{
    color: black;
    text-decoration: none;
    text-align: center;
    margin: 0px auto;
}

.fn{
    /* border: 1px solid rgba(0, 0, 0, 0.048); */
    background-color: rgb(250, 245, 245);
    border-radius: 4px;
    padding: 4px;
    box-shadow: 0px 1.5px 1px 0px rgba(0, 0, 0, 0.562);
}

.shop_logo{
    height: 22px;
    width: 22px;
    float: left;
    padding: 6px 6px 0px 0px;
}

/* ul,li:first-child{
    margin-right: 10%; 
}
*/

#login-nav{
    background-color: rgb(255, 255, 255);
    padding: 0 18px;
    color: black;
    border-radius: 15px;
    font-size: 23px;
    font-weight: 550;
    transition: 0.3s;
}

#login-nav:hover{
    background-color: rgba(250, 240, 240, 0.884);
}

.shop-name:hover{
  color: rgb(211, 7, 211);
  transition: 0.4s;
}

.home-img{
    width: 20%;
    height: 10%;
    border-radius: 5px;
    border: 1px solid black;
}

.read-more{
    text-align: start;
    padding: 10px;
    color: rgb(151, 13, 151);
    text-decoration: underline;
}

.small-img{
    float: right;
}

nav .fa{
    display: none;
}

.a{
    padding-left: 1px; margin-top: 1px;
}

@media(max-width: 950px){
    .nav_links{
        position: absolute;
        background-color: #f4433600;
        height: 350px;
        width: 200px;
        top: 0;
        right: -200px;
        z-index: 2;
        transition: 1s;
        display: block;
    }
    nav .fa{
        display: block;
        color: white;
        margin: 20px;
        margin-top: 20px;
        margin-right: 15px;
        font-size: 22px;
        cursor: pointer;
        float: right;
    }
    #resp{
        margin-top: 70px;
        background-color: rgba(0, 0, 0, 0.9);
    } 

    .nav_links a:first-child{
        margin-top: 10px;
    }

    #conct{
        margin-bottom: 10px;
    }
    .nav_links a{
        display: block;
        font-size: 26x;
        margin-left: 40px;
        margin-right: 40px;
    }

    .nav_links,ul,li,a{
         text-align: center;
    }
    #login-nav{
        margin-left: 40px;
        margin-right: 40px;
        margin-bottom: 20px;
    }
    .a{
        margin-right: 23px;
    }

    #header1{
        margin-top: 55px;
    }

    .shop_logo{
        margin-left: 20px;
    }
    .logo{
        margin-top: 4px;
        width: 80px;
        height: 40px;
    }
    .logo_name{
        margin-top: 4px;
    }

    .header1{
        padding-top: 30px;
        font-size: 25px;
        line-height: 1em;
        margin-left: 2px;
    }
    .para{
        font-size: 23px;
        font-family: 'Dongle', sans-serif;
        line-height: 1.2em;
    }
    .img1{
        width: 70%;
        height: 40%;
    }
    #header2{
        padding-top: 0px;
    }
    .logo_name{
        float: left;
        color: rgb(255, 255, 255);
        padding-top: 7px;
        padding-left: 5px;
        font-family: 'Dongle', sans-serif;
        font-size: 30px;
        cursor: pointer;
        text-decoration: none;
    }
}

@media(max-width: 370px){
    .logo_name{
        float: left;
        color: rgb(255, 255, 255);
        padding-top: 8px;
        padding-left: 2px;
        font-family: 'Dongle', sans-serif;
        font-size: 28px;
        cursor: pointer;
        text-decoration: none;
    }
}

@media(max-width: 300px){
    .logo_name{
        float: left;
        color: rgb(255, 255, 255);
        padding-top: 13px;
        padding-left: 2px;
        font-family: 'Dongle', sans-serif;
        font-size: 21px;
        cursor: pointer;
        text-decoration: none;
    }
    .logo{
        margin-top: 8px;
        width: 60px;
        height: 30px;
        padding-left: 0px;
    }
}